body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color:rgb(224, 227, 243);
}

.sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #421d9a;
    color: white;
    padding-top: 20px;
    padding-left: 16px;
    box-sizing: border-box;
    text-align: center;
}

.sidenav h1, .sidenav h3 {
    margin: 0;
    padding: 0;
}

.sidenav h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidenav h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidenav .menu-icon {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.sidenav a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidenav a i {
    margin-right: 10px;
}

.sidenav a:hover {
    background-color: #575757;
    color: white;
}

